includes:
    - phpstan-baseline.neon
    - phpstan.ignoreErrors.neon

parameters:
    level: 4
    paths:
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
